body, html {
    height: 100%;
    width: 100%;
    background-color: #356780;
    text-align: center;
}

#temp {
    margin-top: 10%;
}

#park-facts {
    color: white;
    font-family: 'Verdana';
    letter-spacing: 1pt;
    font-size: 24px;
    padding-bottom: 5px;
}

#park-acreage, #park-mileage {
    color: white;
    font-family: 'Verdana';
    font-size: 22px;
    padding-bottom: 5px;
}

.icons {
    height: 45px;
}