body, html {
    height: 100%;
    width: 100%;
    background-color: #356780;
    text-align: center;
}

#park-facts {
    color: white;
    font-family: 'Verdana';
    letter-spacing: 1pt;
    font-size: 24px;
    padding-top: 5px;
}

#park-acreage{
    color: white;
    font-family: 'Verdana';
    font-size: 15px;
}

#mileage-row {
    margin-bottom: 0;
}

#park-mileage {
    color: white;
    font-family: 'Verdana';
    font-size: 15px;
    padding-top: 5px;
    margin-bottom: 0;
}

#icons {
    margin-top: 0;
}

img {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 0;
}